<div
  class="fixed inset-0 bg-black bg-opacity-40 flex justify-center items-center"
  (click)="onClose($event)"
>
  <div class="w-[500px] h-96 bg-white" (click)="$event.stopPropagation()">
    <div
      class="h-10 border-b border-b-black flex justify-between items-center px-2"
    >
      <h1>upload svg</h1>
      <button class="flex justify-center items-center" (click)="onClose($event)">
        <span class="material-symbols-outlined"> close </span>
      </button>
    </div>
    <div class="mt-10 flex flex-col gap-4 items-center">
      <h1>upload your svg file here</h1>
      <div class="border p-4">
        <input type="file" (change)="onChange($event)" accept=".svg" />
      </div>
      <h1 *ngIf="errorMsg" class="text-red-600">Error: {{ errorMsg }}</h1>
      <button
        (click)="submit()"
        [disabled]="errorMsg || !file"
        class="bg-red-600 disabled:opacity-30 text-white h-10 w-40 rounded"
      >
        show
      </button>
    </div>
  </div>
</div>
